body {
  background: #1e1e1e;
  font-family: 'MV Boli';
  overflow-y: hidden;
  overflow-x: hidden;
}

.logo {
  position: absolute;
  width: 10rem;
  height: 10rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  opacity: 0;
  z-index: 10;
  font-size: 6em;
  font-weight: bolder;
  text-align: center;
  opacity: 0.7;
  color: rgb(255, 255, 255);
  -webkit-text-shadow: 0 2px 25px rgb(212, 25, 218);
          text-shadow: 0 2px 25px rgb(163, 76, 221);
          transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -webkit-transition: opacity .25s ease-in-out;
}
.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  min-width: 100% !important;
  opacity: 0;
}

.main .title {
  font-size: 4em;
  font-weight: bolder;
  margin-top: -20px;
  text-align: center;
  opacity: 0.7;
  -webkit-text-shadow: 0 2px 25px rgb(212, 25, 218);
          text-shadow: 0 2px 25px rgb(163, 76, 221);
          transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -webkit-transition: opacity .25s ease-in-out;
}
.main .title:hover {
  opacity: 1;
}

.discord-btn {
  font-family: 'Lexend';
  background: transparent;
  color: rgb(225, 176, 235);
  font-weight: bolder;
  padding: 0.5em 1em;
  font-size: 1.1em;
  width: 114px;
  height: 45px;
  border: none;
  opacity: 0.5;
  -webkit-transition: 0.1s ease-out;
  transition: 0.3s ease-out;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-text-shadow: 0 2px 25px rgb(212, 25, 218);
  text-shadow: 0 2px 25px rgb(163, 76, 221);
}

.discord-btn:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
          opacity: 0.7;

}

.discord-btn:active {
  -webkit-transform: scale(1.2, 1);
          transform: scale(1.2, 1);
          opacity: 1;
}


.script-btn {
  font-family: 'Lexend';
  background: transparent;
  color: rgb(225, 176, 235);
  font-weight: bolder;
  padding: 0.5em 1em;
  font-size: 1.1em;
  width: 114px;
  height: 45px;
  border: none;
  opacity: 0.5;
  -webkit-transition: 0.1s ease-out;
  transition: 0.3s ease-out;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-text-shadow: 0 2px 25px rgb(212, 25, 218);
  text-shadow: 0 2px 25px rgb(163, 76, 221);
}

.script-btn:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
          opacity: 0.7;
}

.script-btn:active {
  -webkit-transform: scale(1.2, 1);
          transform: scale(1.2, 1);
          opacity: 1;
        }

.showcase-btn {
  font-family: 'Lexend';
  background: transparent;
  color: rgb(225, 176, 235);
  font-weight: bolder;
  padding: 0.5em 1em;
  font-size: 1.1em;
  width: 114px;
  height: 45px;
  border: none;
  opacity: 0.5;
  -webkit-transition: 0.1s ease-out;
  transition: 0.3s ease-out;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-text-shadow: 0 2px 25px rgb(212, 25, 218);
  text-shadow: 0 2px 25px rgb(163, 76, 221);
}

.showcase-btn:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
          opacity: 0.7;

}

.showcase-btn:active {
  -webkit-transform: scale(1.2, 1);
          transform: scale(1.2, 1);
          opacity: 1;
}

.credits {
  font-family: 'Lexend';
  background: transparent;
  color: rgb(225, 176, 235);
  font-weight: bolder;
  padding: 0.5em 1em;
  font-size: 0.8em;
  width: 94px;
  height: 35px;
  border: none;
  opacity: 0.5;
  -webkit-transition: 0.1s ease-out;
  transition: 0.3s ease-out;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-text-shadow: 0 2px 25px rgb(212, 25, 218);
  text-shadow: 0 2px 25px rgb(163, 76, 221);
}


.copy-btn {
  font-family: 'Lexend';
  background: transparent;
  color: rgb(225, 176, 235);
  font-weight: bolder;
  padding: 0.5em 1em;
  font-size: 1.7em;
  width: 244px;
  height: 45px;
  border: none;
  opacity: 0.5;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-text-shadow: 0 2px 25px rgb(212, 25, 218);
  text-shadow: 0 2px 25px rgb(163, 76, 221);
}

.copy-btn:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
          opacity: 0.7;

}

.copy-btn:active {
  -webkit-transform: scale(1.2, 1);
          transform: scale(1.2, 1);
          opacity: 1;
}

.ListHold{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(225, 176, 235);
  min-width: 100% !important;
  opacity: 0;
}
.ListMember {
  font-family: 'Lexend';
  background: transparent;
  color: rgb(225, 176, 235);
  font-weight: bolder;
  padding: 0.5em 1em;
  font-size: 1.1em;
  width: 144px;
  height: 30px;
  border: none;
  opacity: 0.5;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-text-shadow: 0 2px 25px rgb(212, 25, 218);
  text-shadow: 0 2px 25px rgb(163, 76, 221);
}

.ListMember:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
          opacity: 0.7;

}

.ListMember:active {
  -webkit-transform: scale(1.2, 1);
          transform: scale(1.2, 1);
          opacity: 1;
}